div.glasses-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div.react-logo{
    width: 100%;
    height: auto;

}

#hover-glass {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 9999;
}

#hover-glass img {
    box-sizing: border-box;
    width: 22.5px;
    height: 22.5px;
    border-radius: 50%;
    border: 1px solid #7482A5;
    transition: border-radius 0.2s ease-in-out;
}

#hover-glass img:hover {
    border-radius: 30%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*0.07688679245 ratio*/
div.glasses {
    position: relative;
    width: 7em;
    margin:1em;
}

div.glasses:hover .glass {
    background-image: linear-gradient(to bottom, #ff7660, #d5ad6e 70%);
}

div.glasses .g-top {
    position: absolute;
    height: 0.4em;
    width: 5em;
    background-color: #3C3C3C;
    border-radius: 2.5px;
}

.glasses .glass {
    position: absolute;
    height: 2.5em;
    width: 3em;
    background-image: linear-gradient(to bottom, #4DE2DC, #3888D1 70%);
    border: 2.5px solid #3C3C3C;
    top: 0;
}

.glasses .g-left {
    top: 1.4em;
    left: .1em;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    border-radius: 6px 6px 17.5px 14.5px;
}

.glasses .g-right {
    top: 1.4em;
    left: 4em;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    border-radius: 6px 6px 17.5px 14.5px;
}
